* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    min-height: 100vh;
    background: linear-gradient(135deg,#3b0a91,#6d28d9,#ec4899);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
}

.logo { font-weight: bold; }

.nav-btn {
    background: rgba(255,255,255,0.15);
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

/* HERO */
.hero {
    text-align: center;
    margin-top: 120px;
}

.hero h1 { font-size: 40px; }

.hero p {
    margin: 15px 0 30px;
    opacity: 0.8;
}

.input-hero {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input-hero input {
    width: 400px;
    padding: 14px;
    border-radius: 10px;
    border: none;
}

.input-hero button {
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #4f46e5;
    color: white;
}

.locked { opacity: 0.5; }

/* ANALYZE CARD */
.analyze-card {
    width: 500px;
    margin: 60px auto;
    background: white;
    color: black;
    padding: 30px;
    border-radius: 20px;
}

.input-box {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.input-box input {
    flex: 1;
    padding: 12px;
}

.input-box button {
    padding: 12px;
    background: #4f46e5;
    color: white;
    border: none;
}

/* RESULT */
.card-header {
    padding: 20px;
    color: white;
    text-align: center;
}

.score {
    font-size: 40px;
    font-weight: bold;
}

/* Risk Colors */
.high-risk { background: red; }
.medium-risk { background: orange; }
.low-risk { background: green; }

.metrics {
    padding: 20px;
}

.metrics h3 {
    margin: 10px 0;
}

.metrics p {
    font-size: 14px;
    margin-bottom: 5px;
}

/* MODAL */
.modal {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
}

.modal-card {
    background: white;
    color: black;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
}

.modal-card input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.modal-card button {
    width: 100%;
    padding: 10px;
    background: #4f46e5;
    color: white;
    border: none;
}

.close {
    float: right;
    cursor: pointer;
}
